
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #00404a;
}
h3 {
    text-align: center;
}

h1 {
    background: rgb(255, 198, 219);
    margin: 0;
    z-index: 9;
    padding: 10px 100px;
}
.center-box {
    width: 50%;
    height: 50%;
    background: #fff;
}
.score-box span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83%;
    font-size: 2em;
    color: #fff;
}
.player-box {
    padding: 4%;
    margin: 0!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.center-box .row:first-of-type {
    margin: 0;
}

.buttons {
  position: absolute;
  left: 43%;
  top: 45%;
  width: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 137px;
}

.row {
    height: 100%;
    position: relative;
}

.score-box {
    position: absolute;
    bottom: -8px;
    width: 30%;
    height: 30%;
    text-align: center;
    background: #a8a5d4;
}

.score-box.p1 {
    left: -8px;
}

.score-box.p2 {
    right: -8px;
}

.player-box:not(:last-of-type) {
    box-shadow: inset -2px 0 #004049;
}

.score-title {
    background: #6e7e9c;
    color: #404040;
    font-weight: bold;
    letter-spacing: 2px;
}
.score-box.p1 {
    box-shadow: 1px -1px, 2px -2px, 3px -3px, 4px -4px, 5px -5px, 6px -6px, 7px -7px, 8px -8px, 8px -8px 20px;
}
.score-box.p2 {
    box-shadow: -1px -1px, -2px -2px, -3px -3px, -4px -4px, -5px -5px, -6px -6px, -7px -7px, -8px -8px, -8px -8px 20px;
}
.p1 .score-title{
    box-shadow: 1px -1px, 2px -2px, 3px -3px, 4px -4px, 5px -5px, 6px -6px, 7px -7px, 8px -8px
}
.p2 .score-title{
    box-shadow: -1px -1px, -2px -2px, -3px -3px, -4px -4px, -5px -5px, -6px -6px, -7px -7px, -8px -8px
}

.current-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    bottom: 0;
    background: #a8fbdc;
    transition: all .5s ease;
}

.roll-btn, .pass-btn {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all .3s ease;
    z-index: 2;
}

.roll-btn {
    background: #008598;
    color: #fff;
}

.pass-btn {
    background: #35a1ff;
    color:#000;
}

.roll-btn:hover, .pass-btn:hover {
    box-shadow: inset 0 0 35px #000;
}

.turn-box {
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 0;
    transition: all .5s ease;
    background: #757575;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    overflow: hidden;
    z-index: 1;
}
.other{
  left:50%;
}
.turn-box.p1 {
    right: 100%;
}

.turn-box.active {
    width: 120px;
}

.turn-box.p2 {
    left: 100%;
}

.turn-score {
    position: absolute;
    top: 30px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c2c2c2;
    overflow: hidden;
    z-index: 0;
    width: 80px;
    transition: all .5s ease;
}
.turn-score.p1 {
    left: 0;
}

.turn-score.p2 {
    right: 0;
}
.turn-score.p1.active {
    left: -200px;
}

.turn-score.p2.active {
    right: -200px;
}
.oops {
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    background: #dd5757;
    transition: all 1s ease;
    padding: 0px;
    text-align: center;
}

.oops.p1 {
    left: 0;
}

.oops.p2 {
    right: 0;
}

.oops.active {
    width: 200px;
    top: 36%;
    bottom: 36%;
    padding: 20px;
}
